<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../popup/popup.css" />
	<link rel="stylesheet" type="text/css" href="download.css" />
</head>

<body>

	<div id="content">

		<div id="download-details" class="item-details">

			<ul id="info">
				<li class="desc" id="filename"></li>
				<li class="desc desc-name">
					Size: <span class="desc" id="size"></span>
				</li>
				<li class="desc desc-name">
					From: <span class="desc" id="host"></span>
				</li>
			</ul>

			<div id="downloader-choice">
				<div style="padding:6px;">Continue With:</div>
				<input type="radio" name="downloader" id="continue-with-browser">
				<label for="continue-with-browser" class="action" id="action-continue">Browser</label>
				<br>
				<input type="radio" name="downloader" id="dl-with-grabby" checked="checked">
				<label for="dl-with-grabby">Grabby</label>
				<div id="dm-list-container" style="padding:10px 0; display: flex;">
					<span style="padding: 4px 6px; flex-grow: 2;">Download Using: </span>
				</div>
			</div>

			<div id="actions" style="text-align: right;">
				<button class="action" id="action-download">Ok</button>
				<button class="action" id="action-cancel">Cancel</button>
			</div>

		</div>
		
	</div>

	<script src="/libs/browser-polyfill.js"></script>
	<script src="/libs/filesize.js"></script>
	<script src="/scripts/constants.js"></script>
	<script src="/scripts/classes.js"></script>
	<script src="/scripts/log.js"></script>
	<script src="/scripts/utils.js"></script>
	<script src="/scripts/ui.js"></script>
	<script src="/scripts/messaging.js"></script>
	<script src="/views/view.js"></script>
	<script src="download.js"></script>

</body>

</html>