<div id="links_list">

	<div id="header">
		<input id="filter" type="search" class="search" placeholder="Filter" />
	</div>

	<ul class="list">
	</ul>

	<div id="footer">
		<button class="action" id="action-select">Select Visible</button>
		<button class="action" id="action-unselect">Unselect Visible</button>
		<div id="selection-count" style="padding: 6px 6px;">
			<span>0</span>
			&nbsp;Items selected
		</div>
		<hr />
		<div id="dm-list-container" style="padding:6px 6px; display: flex;">
			<span style="padding-right: 15px; flex-grow: 1;">Download Using: </span>
		</div>
		<button class="action" id="action-download">Download Selection</button>
	</div>

</div>