<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="list.css" />
</head>

<body>

	<div id="content">

	</div>

	<script src="/libs/browser-polyfill.js"></script>
	<script src="/libs/list.js"></script>
	<script src="/scripts/constants.js"></script>
	<script src="/scripts/classes.js"></script>
	<script src="/scripts/log.js"></script>
	<script src="/scripts/utils.js"></script>
	<script src="/scripts/ui.js"></script>
	<script src="/scripts/messaging.js"></script>
	<script src="/views/view.js"></script>
	<script src="list.js"></script>
	<script src="list_links.js"></script>
	<script src="list_ytplaylist.js"></script>
	<!-- mozilla in their infinite wisdom have forbidden inline scripts in webextensions -->
	<!-- so we have to load it this way in order to execute just a few lines of code -->
	<script src="inline.js"></script>

</body>

</html>