<div id="playlist">

	<div id="header">
		<input id="filter" type="search" class="search" placeholder="Filter" />
	</div>

	<ul class="list">
	</ul>

	<div id="footer">
		<button class="action" id="action-select">Select Visible</button>
		<button class="action" id="action-unselect">Unselect Visible</button>
		<div id="selection-count" style="padding: 6px 6px;">
			<span>0</span>
			&nbsp;Items selected
		</div>
		<hr />
		<div style="padding: 6px 6px;">
			<span style="padding-right: 15px; flex-grow: 1;">Preferred quality: </span>
			<select id="quality">
				<option value="144p">144p</option>
				<option value="240p">240p</option>
				<option value="360p">360p</option>
				<option value="480p">480p</option>
				<option value="720p">720p</option>
				<option value="1080p">1080p</option>
				<option value="mp3">Download as mp3</option>
			</select>
			<button class="action" id="action-download">Download Selection</button>
		</div>
	</div>

</div>