@ink-verylight: #8c8fb1;
@ink-light: #363959;
@ink-med: #202340;
@ink-dark: #0f1126;

@Grey10: #f9f9fa;
@Grey20: #ededf0;
@Grey30: #d7d7db;
@Grey40: #b1b1b3;
@Grey50: #737373;
@Grey60: #4a4a4f;
@Grey70: #38383d;
@Grey80: #2a2a2e;
@Grey90: #0c0c0d;

@fontSmall: 10px;
@fontNormal: 12px;
@fontLarge: 14px;
@fontXlarge: 18px;

@color-text: @ink-med;
@color-disabled: @Grey40;
@color-hover: @ink-light;

html, body
{
	overflow-y: auto;
	//min-width: 350px;
	font-size: @fontNormal;
	max-width: 350px;
	margin: 0;
}

ul, li
{
	list-style-type: none;
	padding: 0;
	text-align: center;
}

.clear{
	clear: both;
}

.hidden{
	display: none !important;
}

#content
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0 auto;
	width: 100%;
	color: @color-text;
	cursor: default;
}

#content > #download-details
{
	min-width: 310px;
}

#content > #popup-downloads
{
	min-width: 350px;
}

#popup-downloads
{
	cursor: default;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 10px;

	#list-title
	{
		font-size: @fontLarge;
		text-align: center;
		padding: 15px;
	}

	#downloads-list
	{
		width: 100%;

		.dl-item
		{
			padding: 7px 5px;
			cursor: pointer;
			transition: all 0.2s ease;
			width: 100%;
			font-size: @fontNormal;
			box-sizing: border-box;
	
			&:hover
			{
				transition: background 0.1s ease;
				border-radius: 3px;
				background: @color-hover !important;
				color: #f9f9fa;
			}
		}

		.separator
		{
			border-top: 1px solid @Grey30;
			width: 95%;
			margin: -1px auto 0;
			z-index: -1;
			position: relative;
		}

		.separator:last-child{
			display: none;
		}

		li
		{
			display: flex;
			flex-direction: column;

			.dl-wrapper
			{
				display: flex;

				.dl-icon
				{
					margin-right: 10px;
				}

				.dl-info
				{
					display: flex;
					flex-direction: column;

					.dl-name
					{
						flex-grow: 1;
					}

					.dl-extra
					{
						flex-grow: 1;
						font-size: @fontSmall;
					}
				}

			}
		}

		.progress-bar
		{
			margin-top: 4px;
			width: 100%;
			background-color: #e0e0e0;
			padding: 2px;
			border-radius: 3px;
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
		}
		
		.progress-bar-fill
		{
			display: block;
			height: 5px;
			background-color: @ink-light;
			border-radius: 3px;
			transition: width 500ms ease-in-out;
		}
	}

	.icon-32
	{
		width: 32px;
	}

	.icon-64
	{
		width: 64px;
	}

	#no-dl
	{
		padding: 16px 0 0 0;
		color:@color-disabled;
		width: 100%;
		height: 50px;
		background-color: #f9f9fa;
		
		//only show 'no downloads' if it's the last child
		&:last-child{
			display: block !important;
		}
	}

	#action-clearList
	{
		width: 22px;
		position: absolute;
		left: 10px;
		top: 10px;
		cursor: pointer;
	}

}


#download-details, #stream-details
{
	width: 95%;
	margin: 10px auto;
	border: 1px solid;
	padding: 20px;
	border-radius: 4px;
	box-sizing: border-box;
	
	.desc
	{
		text-align: justify;
		font-weight: normal;
		max-height: 50px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		user-select: text !important;
		-moz-user-select: text !important;
	}

	.desc-name
	{
		margin-top: 5px;
		font-weight: bold;
		user-select: text !important;
		-moz-user-select: none !important;
	}

	#preview *
	{
		width: 100%;
		margin-bottom: 10px;
	}

	#filename
	{
		font-size: @fontXlarge;
		font-weight: bold;
		margin-bottom: 10px;
	}

	button.action{
		padding: 3px;
		width: 70px;
	}
	
	.action.button
	{
		color: @ink-dark;
		text-decoration: none;
		background: #ffffff;
		padding: 5px;
		border: 1px solid @ink-dark;
		transition: all 0.4s ease 0s;
		margin: 5px 20px;
		cursor: pointer;
		border-radius: 2px;
		font-weight: bold;

		&:hover
		{
			color: #ffffff;
			background: @color-hover;
			border-color: @color-hover;
			transition: all 0.4s ease 0s;
		}
	}

	.disabled-action, .disabled-action:hover
	{
		color: @color-disabled !important;
		text-decoration: none;
		background-color: #ffffff !important;
		padding: 5px;
		border: 1px solid @color-disabled !important;
		transition: all 0.4s ease 0s;
		margin: 5px 20px;
		cursor: default;
		border-radius: 2px;
	}

	#action-back
	{
		background-image: url('/icons/back.png');
		background-position:  5px 7px;
		background-repeat:  no-repeat;
		background-size: 12px;
		width: 170px;
		margin: 10px 0;
		text-align: right;
		padding-right: 10px;

		&:hover{
			background-image: url('/icons/back-white.png');
		}
	}

	#downloader-choice #dm-list-container
	{
		width: 100%;
	}
}

#download-details.popup-download #filename
{
	margin-top: 30px;
}


#formats-list .format
{
	#popup-downloads#downloads-list.dl-item();
	margin: 5px auto;
	border: 1px solid @ink-med;
	border-radius: 4px;
}

#downloader-choice{
	border: 1px solid #abacb9;
	border-radius: 4px;
	padding: 3px 5px;
}

#actions{
	margin-top: 20px;
}

li.spacer{
	margin-top: 20px;
	margin-bottom: 20px;
}

#stream-details .available
{
	font-size: @fontLarge;
}

.debug_gray{
	background-color: rgb(216, 216, 216);
}

.disabled{
	pointer-events: none !important;
	opacity: 0.5 !important;
}

#spinner{
	display: none;
}