<!-- HTML for details of a file download -->
<div id="download-details">

	<div class="action button" id="action-back">Back To Downloads List</div>

	<ul id="info">

		<li id="preview"></li>
		<li class="desc" id="filename"></li>
		<li class="desc desc-name">
			Size: <span class="desc" id="size"></span>
		</li>
		<li class="desc desc-name">
			URL: <span class="desc" id="url"></span>
		</li>
	</ul>

	<div id="downloader-choice">
		<div style="padding:6px;">Download With:</div>
		<input type="radio" name="downloader" id="dl-with-browser">
		<label for="dl-with-browser">Browser</label>
		<br>
		<input type="radio" name="downloader" id="dl-with-grabby" checked="checked">
		<label for="dl-with-grabby">Grabby</label>
		<div id="dm-list-container" style="padding:10px 6px; display: flex;">
			<span style="padding-right: 15px;">Using: </span>
		</div>
	</div>

	<ul id="actions">
		<li class="action button" id="action-download">Download</li>
	</ul>

</div>