<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="link_list.css" />
</head>

<body>

	<div id="content">

		<div id="links_list">

			<div id="header">
				<input id="filter" type="search" class="search" placeholder="Filter" />
			</div>

			<ul class="list">
			</ul>

			<div id="footer">
				<button class="action" id="action-select">Select Visible</button>
				<button class="action" id="action-unselect">Unselect Visible</button>
				<div id="dm-list-container" style="padding:10px 6px; display: flex;">
					<span style="padding-right: 15px; flex-grow: 1;">Download Using: </span>
				</div>
				<button class="action" id="action-download">Download Selection</button>
			</div>
	
		</div>

	</div>

	<script src="/libs/browser-polyfill.js"></script>
	<script src="/libs/list.js"></script>
	<script src="/scripts/constants.js"></script>
	<script src="/scripts/classes.js"></script>
	<script src="/scripts/log.js"></script>
	<script src="/scripts/utils.js"></script>
	<script src="/scripts/ui.js"></script>
	<script src="/scripts/messaging.js"></script>
	<script src="/views/view.js"></script>
	<script src="link_list.js"></script>

</body>

</html>