html, body {
	min-width: auto !important;
	max-width: none !important;
	margin: 0 auto !important;
	height: 100% !important;
	background-color: #f9f9fa;
}

#content {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #0c0c0d;
}

#download-details {
	margin: 10px;
	padding: 10px;
	width: auto;
	padding-bottom: 0;
	border: none;
}