body {
	overflow-y: auto;
	min-width: 280px;
	font-size: 12px;
}

ul, li{
	list-style-type: none;
	padding: 0;
	text-align: center;
}

.clear{
	clear: both;
}

.hidden{
	display: none !important;
}

#content{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 0 5px;
	margin: 0 auto;
	width: 100%;
}

#dls-list{
	cursor: default;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#dls-list .list-title{
	width: 85%;
	padding-bottom: 10px;
}

#dls-list #no-dl{
	margin: 15px 0 0 0;
	color:#737373;
}

/* hide 'no downloads' item */
#dls-list #no-dl:last-child:after{
	content: "No Downloads";
}

.dl-item{
	padding: 10px 5px;
	font-weight: bold;
	border-bottom: 1px solid #ededf0;
	cursor: pointer;
	transition: all 0.3s ease;
	width: 100%;
	font-size: 12px;
}

.dl-item:last-child {
    border: none;
}

.dl-item:hover{
	background-color: #ededf0 !important;
}

#actions-list{
	width: 80%;
	margin: 0 auto;
	padding: 0 0 20px 0;
}

#actions-list .action {
    padding: 5px 0;
    border: 1px solid #ededf0;
    border-radius: 3px;
    text-align: center;
	margin-bottom: 3px;
	cursor: pointer;
	transition: all 0.3s ease;
	box-shadow: 0px 1px 1px #d7d7db;
}

#actions-list .action:hover{
	background-color: #ededf0 !important;
}

#actions-list .disabled-action, #actions-list .disabled-action:hover{
	color: #d7d7db;
	cursor: default;
	background-color: inherit !important;
}

#actions-list #action-back{
	background: url('back.png') 5px 5px no-repeat;
	width: 160px;
	margin: 10px 0 40px;
	text-align: right;
	padding-right: 10px;
}

#actions-list .desc{
	padding: 0 0 5px;
	text-align: left;
	word-break: break-all;
}

#actions-list .desc-name{
	padding: 0;
}

#actions-list #filename{
	font-weight: bold;
}

#actions-list .spacer{
	margin: 10px 0;
}

#actions-list #output{
	margin: 5px 0;
	font-size: 12px;
	/* animaiton stuff */
	animation-name: fadeinout;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes fadeinout{
	0%, 100% { opacity: 0; }
	20% { opacity: 1 }
}
#output.fail{
	color: #d70022;
}
#output.success{
	color: #12bc00;
}

#hiddeninput{
	width : '1px';
	height: '1px';
	padding: 0;
	border: none;
	outline: none;
	box-shadow: none;
	background : transparent;
	opacity: 0;
}