/* hover color: #4a4a4f */

html, body {
	overflow-y: auto;
	min-width: 280px !important;
	font-size: 12px;
	max-width: 350px !important;
}

ul, li{
	list-style-type: none;
	padding: 0;
	text-align: center;
}

.clear{
	clear: both;
}

.hidden{
	display: none !important;
}

#content{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 0 5px;
	margin: 0 auto;
	width: 100%;
	color: #202340;
	cursor: default;
}

#downloads-list{
	cursor: default;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#downloads-list .list-title{
	width: 85%;
	margin-bottom: 20px;
	font-size: 14px;
}

#downloads-list #no-dl{
	padding: 16px 0 0 0;
	color:#b1b1b3;
	width: 100%;
	height: 50px;
	background-color: #f9f9fa;
}

/* only show 'no downloads' if it's the last child */
#downloads-list #no-dl:last-child{
	display: block !important;
}

#downloads-list .dl-item{
	padding: 10px 5px;
	border-bottom: 1px solid #8c8fb1;
	cursor: pointer;
	transition: all 0.3s ease;
	width: 100%;
	font-size: 12px;
}

#downloads-list .dl-item:last-child {
    border: none;
}

#downloads-list .dl-item:hover{
	background-color:#363959 !important;
	color: #f9f9fa;
}

#download-details{
	width: 80%;
	margin: 0 auto;
	padding: 0 0 20px 0;
}

#download-details #info{
	margin-bottom: 30px;
}

#download-details .action{
	color: #0f1126;
	text-decoration: none;
	background: #ffffff;
	padding: 5px;
	border: 1px solid #0f1126;
	transition: all 0.4s ease 0s;
	margin: 5px 20px;
	cursor: pointer;
	border-radius: 2px;
	font-weight: bold;
}

#download-details .action:hover{
	color: #ffffff;
	background: #363959;
	border-color: #363959;
	transition: all 0.4s ease 0s;
}

#download-details #action-back{
	background-image: url('../icons/back.svg');
	background-position:  5px 7px;
	background-repeat:  no-repeat;
	background-size: 12px;
	width: 170px;
	margin: 10px 0 40px;
	text-align: right;
	padding-right: 10px;
}

#download-details #action-back:hover{
	background-image: url('../icons/back-white.svg');
}

#download-details #action-report {
    border: none;
	font-weight: normal;
	background-color: inherit;
	text-decoration: underline;
}

#download-details #action-report:hover{
	color:#d70022;
	cursor: pointer;
}

#download-details #action-report.disabled-action {
    border: none !important;
	color: inherit !important;
	cursor: default !important;
}

#downloads-list #action-clearList{
	width: 22px;
	position: absolute;
	left: 10px;
	top: 10px;
	cursor: pointer;
}

#download-details .disabled-action, #download-details .disabled-action:hover{
	color: #b1b1b3 !important;
	text-decoration: none;
	background-color: #ffffff !important;
	padding: 5px;
	border: 1px solid #b1b1b3 !important;
	transition: all 0.4s ease 0s;
	margin: 5px 20px;
	cursor: default;
	border-radius: 2px;
}

#download-details .desc{
	/* text-align: left;
	word-break: break-all;
	font-weight: normal; */
	text-align: justify;
	font-weight: normal;
	max-height: 50px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-moz-user-select: text !important;
}

#download-details .desc-name{
	margin-top: 5px;
	font-weight: bold;
	-moz-user-select: none !important;
}

#download-details #filename{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

li.spacer{
	margin-top: 20px;
	margin-bottom: 20px;
}

#download-details #output{
	margin: 10px 0 -10px;
	font-size: 12px;
	/* animaiton stuff */
	animation-name: fadeinout;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes fadeinout{
	0%, 100% { opacity: 0; }
	20% { opacity: 1 }
}
.fail{
	color: #d70022;
}
.success{
	color: #12bc00;
}

#hiddeninput{
	width : '1px';
	height: '1px';
	padding: 0;
	border: none;
	outline: none;
	box-shadow: none;
	background : transparent;
	opacity: 0;
}

.debug_gray{
	background-color: rgb(216, 216, 216);
}